rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAuthenticated() {
      return request.auth.uid != null;
    }
    function hasAccessToApp() {
      return get(/databases/$(database)/documents/configs/adminSettings).data.allowedUsers.keys().hasAny([request.auth.uid]);
    }
    match /{document=**} {
      allow read, write: if false;
    }
    match /cameras/{cameraId} {
      allow read: if isAuthenticated() && hasAccessToApp();
      allow write: if false;
    }
    match /sonoffDevices/{cameraId} {
      allow read: if isAuthenticated() && hasAccessToApp();
      allow write: if false;
    }
    match /configs/adminSettings {
      allow read: if isAuthenticated() && hasAccessToApp();
      allow write: if false;
    }
    match /configs/ewelinkConnection {
      allow read: if isAuthenticated() && hasAccessToApp();
      allow write: if isAuthenticated() && hasAccessToApp();
    }
  }
}